
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrary">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<application>
		<activity
			android:name="com.reactlibrary.SpotifyAuthActivity">
		</activity>

		<activity
			android:name="com.spotify.sdk.android.authentication.LoginActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar">
		</activity>
	</application>

</manifest>
  